@import "header.css";
@import "footer.css";

/*업로드페이지 중앙배치*/
.uploadContainer{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

/*업로드섹션*/
.upload {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  border: 1px solid #dbdbdb;
}

/*업로드박스 로고*/
.upload .upload-top {
  text-align: center;
}

/*업로드박스 이미지*/
.upload .upload-top img {
  width: 200px;
  margin: 10px 0 20px;
}

.upload .upload-top p {
  text-align: center;
  position: relative;
}
.upload .upload-top p::before {
  content: "";
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 1px;
  background: #222;
}
.upload .upload-top p::after {
  content: "";
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
  height: 1px;
  background: #222;
}

/*업로드 폼*/
.upload .upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*업로드 인풋*/
.upload .upload-form input[type="file"] {
  margin: 30px 0;
  text-align: left;
}

/*업로드 이미지 박스*/
.upload .upload-form .upload-img {
  width: 400px;
  height: 300px;
  margin-bottom: 5px;
}

/*업로드 이미지*/
.upload .upload-form .upload-img img {
  width: 100%;
  height: 100%;
}

/*이미지에 대한 설명박스*/
.upload .upload-form .upload-form-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*이미지에 대한 설명인풋 + 버튼*/
.upload .upload-form .upload-form-detail input,
.upload .upload-form .upload-form-detail button {
  width: 340px;
}
.upload .upload-form .upload-form-detail input {
  text-indent: 10px;
  height: 45px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
}
.upload .upload-form .upload-form-detail input::placeholder {
  color: #222;
}
.upload .upload-form .upload-form-detail button {
  height: 40px;
  margin: 5px 0 10px 0;
}
.upload .upload-bottom {
  text-align: center;
}
.upload .upload-bottom a {
  display: block;
  padding: 15px 0;
  border-top: 1px solid #dbdbdb;
  color: #0095f6;
}

